*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    min-height: 100vh;
    width: 100%;
}

main{
    padding: 0 30px;
}

.row {
    padding-bottom: 20px;
}